	body,p,div,ul,li,h1,h2,h3,h4,h5,h6{
		margin:0;
		padding: 0;
	}
	body{
		background: #E9E9E9; 
	}
	#userpanel{
		width: 800px;
		height: 300px;
		background: #FFF;
		margin:200px auto;
		border-radius: 20px;
		position: relative;
		box-shadow: 10px 10px 10px #CCCCCC;
	}
	#gravatar_id{
		width: 250px;
		height: 300px;
		margin:200px 0px;
		position: relative;
		text-align: center;
	}
	#gravatar{
		display: inline-block;
		box-shadow: 0 6px 15px #CCCCCC, 0 6px 15px #CCCCCC;
		border-radius: 50%;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
		width: 100px;
		height: 100px;
		top:20px;
		position: relative;
	}
	#user{
		text-align: center;
		position: relative;
		top: 40px;
		font-size: 24px;
	}
	#auth{
		color:#fafafa;
		padding: 1px 8px;
		display:inline-block;
		border-radius: 100px;
		text-align: center;
		position: relative;
		top: 60px;
		font-size: 15px;
		box-shadow: 2px 2px 2px #CCCCCC;
	}
	#btn_logout{
		position: relative;
		top: 80px;
		width: 100px;
		height: 30px;
		background: rgba(0,0,0,.1);
		border:solid #ccc 1px;
		border-radius: 100px;
		box-shadow: 1px 1px 1px #CCCCCC;

	}
	#btn_logout:hover{
		cursor: pointer;
		background:#D8D8D8;
	}
	#btn_logout:active{
		cursor: pointer;
		background:#A2A2A2;
	}
	#userinfo{
		position: relative;
		top:-450px;
		left:245px;
		border-left:2.5px dashed #CCCCCC; 
		height:200px; 
		width:300px;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	#toolbox{
		position: relative;
		top:-665px;
		left:520px;
		border-left:2.5px dashed #CCCCCC; 
		height:200px; 
		width:300px;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	#title_id{
		display:inline-block;
		position: relative;
		left:10px;
		color:#6F6F6F;	
		font-size:20px;
		font-weight:bold;
	}
	#info{
		position: relative;
		top:10px;
		left:10px;
		color:#6F6F6F;	
		font-size:17px;
		line-height:30px;
	}
	#scale{
		position: relative;
		top:10px;
		left:10px;
		color:#6F6F6F;	
		font-size:17px;
		line-height:30px;
	}
	#input{
		position: relative;
		top:-3px;
		height:20px;
		border:solid #ccc 1px;
		border-radius: 100px;
		color:#6F6F6F;
		font-size: 15px;
	}
	#smallinput{
		position: relative;
		top:0px;
		height:20px;
		width:50px;
		border:solid #ccc 1px;
		border-radius: 100px;
		color:#6F6F6F;
		font-size: 15px;
	}
	#btn_submit{
		position: relative;
		top: 15px;
		left: 20px;
		width: 100px;
		height: 30px;
		background: rgba(0,0,0,.1);
		border:solid #ccc 1px;
		border-radius: 100px;
		box-shadow: 1px 1px 1px #CCCCCC;

	}
	#btn_test{
		position: relative;
		top: -15px;
		left: 130px;
		width: 100px;
		height: 30px;
		background: rgba(0,0,0,.1);
		border:solid #ccc 1px;
		border-radius: 100px;
		box-shadow: 1px 1px 1px #CCCCCC;

	}
	#btn_test:hover{
		cursor: pointer;
		background:#D8D8D8;
	}
	#btn_test:active{
		cursor: pointer;
		background:#A2A2A2;
	}
	#btn_submit:hover{
		cursor: pointer;
		background:#D8D8D8;
	}
	#btn_submit:active{
		cursor: pointer;
		background:#A2A2A2;
	}
	#help{
		top:-180px;
		position:relative;
		width:750px;
		border:solid #ccc 2px;
		border-radius: 3px;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 20px;
		margin:60px auto;
		border-radius: 20px;
	}
	
