<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/index.css">
<meta charset="utf-8">
<title>Manga Helper</title>
</head>

<body>
	<div id="main">
		<h1>在线漫画下载助手</h1>
		<h1>Manga Helper</h1>
		<h4> by 不做评论</h4>
		<form id="introduce">
			<h2>支持我</h2>
			<p>
				为我的Github资源点一个Star就是对我最大的支持啦。<br>
			</p>
			<h2>开源协议</h2>
			<p>
				本代码已经根据MIT协议开源。<br>
			</p>
		</form>
	<div>
</body>
</html>

