<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/index.css">
<meta charset="utf-8">
<title>Manga Helper</title>
</head>

<body>
	<h1>在线漫画下载助手</h1>
	<h1>Manga Helper</h1>
	<h4> by 不做评论</h4>
	<form id="introduce">
		<h2>关于软件</h2>
		<p>
			您可以通过本网站下载漫画，并在线转为pdf格式，发送至kindle或直接下载。<br>
			您可以直接通过kindle访问页面，也可以下载python源代码自行编译使用。<br>
			本站的程序代码全部开源，下载点击[代码下载]处的图标跳转至Github下载。<br>
			由于该站点为个人使用，考虑到站点服务器的性能问题，暂不向外界开放注册功能（其实也没有做┓( ´∀` )┏），因此若需使用，请联系我或自行下载源代码。<br>
		</p>
		<h2>联系我</h2>
		<p>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=1398456099&site=qq&menu=yes" title="@QQ" target="_blank">
			  <i class="social fa fa-qq" style="font-size:30px;font-weight:normal;color:#6F6F6F;"></i>
			  <a> & </a>
			</a>  
			<a href="https://t.me/bzpl_vbn0" title="telegram" target="_blank">
			  <i class="social fa fa-telegram" style="font-size:30px;font-weight:normal;color:#6F6F6F;"></i>
			  <a> & </a>
			</a>   
			<a href="mailto:vvbbnn00@foxmail.com" title="发邮件给我">
			  <i class="social fa fa-envelope" style="font-size:30px;font-weight:normal;color:#6F6F6F;"></i>
			</a>
		</p>
		<h2>我要如何使用</h2>
		<p>
		您只需<a href="/login">登录</a>系统后根据提示填写相应设置即可。
		</p>
		<h2>代码下载</h2>
		<div align="center">
		<a id="download" href="https://github.com/vvbbnn00/MangaHelper"><img id="downpic" src="https://img.shields.io/github/repo-size/vvbbnn00/MangaHelper"></a>
		</div>
		<h2>更新日志</h2>
		<div id="update">
			<ul>
				<li>
					<span style="font-size:17px;font-weight:normal;">20200824 增加了对于不同格式图片的支持，现在支持下载.jpg和.png</span>
				</li>
			</ul>
		</div>
	</form>
</body>
</html>

