<!DOCTYPE html>

<!--在这里总共用到了一下变量 emailmd5 username authorization email authcolor s_host s_port s_pass kindle_email-->
<html>

<head>	
	<link rel="stylesheet" type="text/css" href="static/css/loglist.css">
	<meta charset="utf-8">
	<title>日志列表</title>
</head>
	<h1>日志列表</h1>
	<div id="logpanel">
		<table>
		<tr>
			<th>任务状态</th>
			<th>发起者用户名</th>
			<th>LogID</th>
			<th>发起时间</th>
			<th>日志链接</th>
			<th>下载链接</th>
		</tr>
		{{ table|safe }}
		</table>
	</div>

	<script>
		function myrefresh(){
			window.location.href=window.location.href;
			window.location.reload();
		}
		setTimeout('myrefresh()',5000); //指定1秒刷新一次
	</script>
</html>